/* src/index.css */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto", sans-serif;
  background: linear-gradient(to bottom right, #548ab3, #548ab3, #7da0ca);
  color: white;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 20px;
  max-width: 600px;
}

li {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #052659;
}

footer {
  padding: 15px;
  margin-top: 50px;
  font-size: 1rem;
  opacity: 0.8;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  color: #052659;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 120px;
  text-align: center;
}

button:hover {
  background-color: #052659;
  transform: scale(1.05);
  box-shadow: #052659;
}

button:focus {
  outline: none;
  box-shadow: #007bff;
}

.table-container {
  overflow: auto; /* crea barras de desplazamiento */
  width: 500px; /* Ajusta el ancho */
  height: 200px; /* Ajusta la altura  */
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.modern-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  color: white;
}

.modern-table th,
.modern-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.modern-table th {
  background-color: #007bff;
}

.modern-table tr:nth-child(even) {
  background-color: #ddd;
}

.modern-table tr:hover {
  background-color: #ddd;
}
