.btn:hover {
  background-color: #777 !important;
  color: white;
}

.btn:active {
  background-color: #888 !important;
  transform: scale(0.98);
}

.card {
  color: #ffffff;
}
.calendar-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 10px;
  color: #ffffff;
}