.sidebar {
    transition: all 0.3s ease-in-out;
    width: 250px;

  }
  
  .sidebar.collapsed {
    width: 0;
    overflow: hidden;
    padding: 0
    
  }


  .Buttom-search{
     background-color: "#0d6efd";
     margin-left: "10px"; 
     color: "black";
     border-radius: "5px";
     align-items: center;

  }

  .dropdown-menu-arrow{
    margin-right: "50px";
    margin-top: 40px;
  }

  .dropdown-header{
   white-space: normal;
  }

  .form-select{
    border-radius: "3px";
  }

  .custom-card {
    background-color: #111;  /* Fondo negro */
    color: #f8d86a; /* Texto dorado */
    border: 1px solid #f8d86a; /* Borde dorado */
    padding: 10px;
  }
  
  .custom-card p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff; /* Texto blanco */
  }
  
  .custom-card strong {
    color: #f8d86a; /* Resaltado dorado */
  }
  
  .custom-placeholder::placeholder {
    color: grey !important; /* Asegura que se aplique */
    opacity: 0.3; /* Ajusta la opacidad si es necesario */
  }