body {
  background-color: #000000;
}
$card-bg: #f8f9fa;
$card-border-width: 0;
$card-border-radius: 1rem;
$card-cap-bg: transparent;
$card-spacer-y: 1.5rem;
$card-spacer-x: 2rem;

.card {
  margin-bottom: 20px;
  border: #aeb6bf;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 100%;
  padding: 5px;
  background-color: #1d1f20;

  .card-title {
    padding: 20px 0 15px 0;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    /* padding: 10px; */
  }
  .card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: #cccccc;
  }
}

.sidebar {
  transition: all 0.3s ease-in-out;
  width: 250px;
}

.sidebar.collapsed {
  width: 0;
  overflow: hidden;
  padding: 0;
}

.Buttom-search {
  background-color: "#0d6efd";
  margin-left: "10px";
  color: "black";
  border-radius: "5px";
  align-items: center;
}

.dropdown-menu-arrow {
  margin-right: "50px";
  margin-top: 40px;
}

.dropdown-header {
  white-space: normal;
}

.form-select {
  border-radius: "3px";
}

.custom-card p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #fff; /* Texto blanco */
}

.custom-card strong {
  color: #f8d86a; /* Resaltado dorado */
}

.custom-placeholder::placeholder {
  color: grey !important; /* Asegura que se aplique */
  opacity: 0.3; /* Ajusta la opacidad si es necesario */
}
.img-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.dashboard .warning-card h6 {
  font-size: 30px;
  color: #f1a441;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.rounded-circle {
  border-radius: 50% !important;
  width: "50px";
  height: "50px";
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  /* padding: 10px; */
}

.cutom-card {
  overflow-x: auto;
  max-width: 100%;
  padding: 5px;
  background-color: #1d1f20;
  border-radius: 25px;
}

#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

.card-body-custom {
  padding: 0 10px 10px 10px;
  background-color: #1d1f20;
  border-radius: 25px;
}

.dashboard .recent-sales {
  font-size: 14px;
}
.calendar-month {
  font-size: 20px;
  font-weight: 600;
  color: #ffc400;
}
